<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quoting Dojo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        <h1>Welcome to Mongoose Dashboard</h1>
        <form action="/process" method="POST">

            Your Image: <img name="imageURL" src="/kitty.jpg" alt="Smiley" height="42" width="42">

            <br><br>
            Your FirstName:
            <input type="text" name="lastname" >
            <br><br>
            Your Age:
            <input type="text" name="age" >
            <br><br>
            
            <input type="submit" value="Mongoose Dashboard">
        </form> 
    </body>
</html>